.strike{
 text-decoration: line-through;
    width:70%;
    text-align: left;
    margin-left: 0px;
    font-size: 18px;
    color:gray;
    text-transform: capitalize;
}

.nostrike{
    text-decoration: none;
    width:70%;
    text-align: left;
    margin-left: 0px;
    font-size: 18px;
    color:black;
    text-transform: capitalize;
}
.todolist{
    background-color: whitesmoke;
    border:1px solid black;
    display:flex;
    justify-content: space-between;
    width:100%;
    gap: 20px;
    border-radius: 10px;
    margin-top: 10px;
    padding:4px 10px;
    align-items: center;
    color: black;
}
.check{
    margin-left: 10px;
}

.checkbox{
    width:20px;
    height:20px;
}

.text{
    width:80%;
    text-align: left;
    margin-left: 10px;
    font-size: 18px;
}

.edit{
    padding: 10px 15px ;
    background-color: #035397;
    border:1px solid #023563;
    font-size: 16px;
    font-weight: 700;
    color: aliceblue;
    border-radius: 8px;
    cursor: pointer;
}
.remove{
    background-color: crimson;
    padding: 10px 15px ;
    border:1px solid crimson;
    font-size: 16px;
    font-weight: 700;
    color: aliceblue;
    border-radius: 8px;
    cursor: pointer;
}

.inputbox{
    margin-top: 20px;
    display:flex;
    gap:5px;
    margin: auto;
    margin-top: 20px;
    justify-content: center;
    width:105%;
    }
.total{
    text-transform: capitalize;
}
.total li{
    font-family: monospace;
    text-align: left;
    padding-right: 60px !important;
}
.navbar{
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 80px;
    text-align: left;
}
.navbar a{
    color: #fff !important;
    text-decoration: none;
    font-size: 25px;
    text-align: left;

}
.submit{
    padding: 5px 25px;
    background-color: crimson;
    border:1px solid crimson;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    color:white;
}

.input{
    border:1px solid black;
    height:40px;
    font-size: 18px;
    width:100%;
    border-radius: 5px;
    padding:5px 10px 5px 10px;
    outline: none;
}
